{% extends "tasks/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
  <h2>About Fruitful</h2>
  <hr>
  <p>
    Fruitful was a Harvard CS50W project built in June 2020 by Ted Schelble. It's an absolutely free, open source tool that you can check out on (or contribute to) <a href="https://github.com/tschelbs18/fruitful">Github</a>.
    Please try it out and let us know what you like or don't via a <a href="/error_report">feedback/error report</a>. Thank you!
  </p>
{% endblock %}
