{% extends "tasks/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
  <h2>About Fruitful</h2>
  <hr>
  <p>
    Fruitful was a Harvard CS50W project built in June 2020 by Ted Schelble. It's an absolutely free, open source tool that you can check out (or contribute to) on <a href="https://github.com/tschelbs18/fruitful">Github</a>.
    Please try it out and let us know what you like or don't via a <a href="/error_report">feedback/error report</a>. Thank you!
  </p>
  <h2>How to use Fruitful</h2>
  <hr>
  <ol>
    <li>Register an account.</li>
    <li>Login to your account.</li>
    <li>Add some tasks to your to-do list.</li>
    <li>Add some custom rewards to motivate yourself.</li>
    <li>Earn points by completing your assigned tasks.</li>
    <li>Use the points to buy rewards.</li>
    <li>Check out the total or daily leaderboards to see how you stack up.</li>
    <li>Repeat steps 3-6 and have a fruitful day!</li>
  </ol>
  <p>
    If you have any questions - check out the <a href="/faq">Frequently Asked Questions</a> page.
  </p>
{% endblock %}
