{% extends "tasks/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
  <h2>About Fruitful</h2>
  <hr>
  <p>
    Fruitful was a <a href="https://cs50.harvard.edu/web/2018/">Harvard CS50W</a> project built in June 2020 by Ted Schelble. It's an absolutely free, open source tool that you can check out (or contribute to) on <a href="https://github.com/tschelbs18/fruitful">Github</a>.
    Please try it out and let us know what you like or don't via a <a href="/error_report">feedback/error report</a>. Thank you!
  </p>
  <h2>How Fruitful Works</h2>
  <hr>
  <ol>
    <li>Add some <a href="/tasks">tasks</a> to your to-do list.</li>
    <li>Add some custom <a href="/rewards">rewards</a> to motivate yourself. These are completely unique to you and other users cannot see them.</li>
    <li>Earn points by completing your self-assigned <a href="/tasks">tasks</a>.</li>
    <li>Use the points to buy digital<a href="/rewards">rewards</a>, and go enjoy them in reality.</li>
    <li>Check out the <a href="/total_scoreboard">all-time</a> or <a href="daily_scoreboard">daily</a> leaderboards to see how you stack up.</li>
    <li>Repeat steps 1-4 and have a fruitful day!</li>
  </ol>
  <p>
    If you have any questions - check out the <a href="/faq">Frequently Asked Questions</a> page.
  </p>
{% endblock %}
