<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="{% static 'tasks/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'tasks/favicon.ico' %}"/>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #E7FFF7;">
            <a class="navbar-brand" href="/">
              <img src="{% static 'tasks/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="">
              Fruitful
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTasks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tasks
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownTasks">
                            <a class="dropdown-item" href="/tasks">Current</a>
                            <a class="dropdown-item" href="/past_tasks">Completed</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRewards" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rewards
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownRewards">
                            <a class="dropdown-item" href="/rewards">Available Rewards</a>
                            <a class="dropdown-item" href="/past_rewards">Past Rewards</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownScoreboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Scoreboards
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownScoreboard">
                            <a class="dropdown-item" href="/total_scoreboard">All-time</a>
                            <a class="dropdown-item" href="/daily_scoreboard">Daily</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp">
                            <a class="dropdown-item" href="/faq">FAQ</a>
                            <a class="dropdown-item" href="/error_report">Report Error</a>
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="/admin_errors">View Errors (Admin)</a>
                            {% endif %}
                          </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.get_username }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp">
                            <a class="dropdown-item" href="/rewards">Points</a>
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                          </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp">
                            <a class="dropdown-item" href="/error_report">Report Error</a>
                          </div>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container p-5" id="main-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.level_tag == 'success' %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% elif message.level_tag == 'error' %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-secondary" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Website built using Django by tschelbs18
        </footer>

    </body>

</html>
