<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="{% static 'tasks/styles.css' %}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'tasks/favicon.ico' %}"/>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span>Fruitful</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tasks">Current Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="/past_tasks">Completed Tasks</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rewards">Available Rewards</a></li>
                        <li class="nav-item"><a class="nav-link" href="/past_rewards">Past Rewards</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/error_report">Report Error</a></li>
                        {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="/admin_errors">View Errors</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">{{ user.get_username }} - Logout</a></li>
                    </ul>
                {% else %}
                  <ul class="navbar-nav mr-auto mt-2">
                      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                      <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                  </ul>
                {% endif %}
            </div>
        </nav>

        <main class="container p-5" id="main-body">
            {% if messages %}
              {% for message in messages %}
                {% if message.level_tag == 'success' %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% elif message.level_tag == 'error' %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-secondary" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Website built using Django by tschelbs18
        </footer>

    </body>

</html>
