{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Fruitful{% endblock %}

{% block body %}
  <h1 style="text-align:center">
    Welcome to Fruitful!
  </h1>
  <img src="{% static 'tasks/fruit_art/cool_pineapple.png' %}" alt="Chill Pineapple" class="img_center">
  <hr>
  <p class="p_center">
    Fruitful is a productivity helper built to maximize your daily activity while working remotely or on your computer in general.
    <br>
    Click <a href="/login">login</a> if you have an account already or <a href="/register">register</a> to sign up for one.
  </p>
{% endblock %}
