{% extends "tasks/base.html" %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block body %}
  <h2>Current Tasks</h2>
  <hr>
  {% if active_tasks %}
    <ul class="list-group">
    {% for task in active_tasks %}
    <div>
      <li class="list-group-item">
        {{ task.description }}
        <form action="/complete_task/{{task.id}}/"
          style="display:flex; flex-direction:column; align-items:flex-end;"
          method="post">
          {% csrf_token %}
          <input type="submit" class="complete_btn" value="Mark Complete"/>
        </form>
        <form action="/delete_task/{{task.id}}/"
          style="display:flex; flex-direction:column; align-items:flex-end;"
          method="post">
          {% csrf_token %}
          <input type="submit" class="delete_btn" value="Delete"/>
        </form>
      </li>
    </div>
    {% endfor %}
    </ul>
  {% else %}
  <p>
    You have no tasks outstanding.
  </p>
  {% endif %}
  <br>
  <h5>Add more tasks</h5>
  <hr>
  <form action="/tasks/add" method="post">
      {% csrf_token %}
      <label for="description" style="display:block"><b>Task description:</b></label>
      <input name="description" type="text" required/>
      <input type="submit" value="Add Task"/>
  </form>
{% endblock %}
